<div id="tag-cloud">
  <ul>
    <li class="tc-1"><a href="#">Dam</a></li>
    <li class="tc-4"><a href="#">Trekking</a></li>
    <li class="tc-4"><a href="#">Waterfalls</a></li>
    <li class="tc-3"><a href="#">Ayurveda</a></li>
    <li class="tc-1"><a href="#">Festival</a></li>
    <li class="tc-2"><a href="#">Beaches</a></li>
  </ul>​
</div>