<h2>Create country</h2>
<%= form_for @country do |f| %>
  <p>
    <%= f.label :name, :class => "inputLabel" %>
    <%= f.text_field :name, :class => "inputBox" %>
  </p>
  <p>
    <%= f.submit "Create", :class => "inputButton fleft" %>
  </p>
<% end %>